<% if current_user %>
  <ul>
    <% current_user.friends.each do |friend| %>
      <%= form_with model: friend, url: friend_path(friend), method: :patch do |f| %>
        <div>
          <%= friend.line_display_name %>
          <%= f.label :real_name, "カレンダーで使っている名前" %>
          <%= "現在登録している名前:" %>
          <%= link_to friend.real_name, friend_schedules_path(friend) %>
          <%= f.text_field :real_name %>
        </div>
        <%= f.submit "更新" %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to "TOPへ", root_path %>
